
CLOUDINARY_CLOUD_NAME=--
CLOUDINARY_API_KEY=--
CLOUDINARY_API_SECRET=--

# variables for backend server configuration
VITE_BACKEND_HOST=localhost
VITE_BACKEND_PORT=3000

# variables for vite server configuration
VITE_HOST=localhost
VITE_PORT=5173