.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: var(--tf-bg);
}

.main {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.25rem 1rem;
  overflow-y: auto;
}